---
import type { CollectionEntry } from "astro:content";
import SectionTitle from "../_shared/SectionTitle.astro";
import Image from "astro/components/Image.astro";
import defaultHeroImage from "@/assets/default_blog_hero_image.png";

interface Props {
  project: CollectionEntry<"side_projects">;
  data: {
    title: string;
    subtitle?: string;
    description: string;
    link: {
      label: string;
      href: string;
    };
  };
}

const {
  project,
  data: { title, subtitle, description, link },
} = Astro.props;
---

<section class="pb-10 lg:pb-20">
  <div class="container relative text-center">
    <div class="row justify-center">
      <div class="relative z-30 py-20">
        <SectionTitle
          data={{
            title,
            subtitle,
            description,
          }}
        />
        <div
          data-aos="fade-up"
          data-aos-easing="ease-in-out"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <div class="relative mx-auto max-w-[800px]">
            <div
              class="absolute left-0 top-0 flex h-full w-full items-end overflow-hidden rounded-2xl bg-gradient-to-b from-transparent to-black/80 p-4 text-white lg:p-8"
            >
              <div class="flex w-full items-center justify-between gap-4">
                <a
                  href={`/side_projects/${project.slug}`}
                  title={project.data.title}
                >
                  <h3
                    class="text-white"
                    data-aos="fade-up"
                    data-aos-easing="ease-in-out"
                    data-aos-duration="1000"
                    data-aos-once="true"
                  >
                    {project.data.title}
                  </h3>
                </a>
                <a
                  href={`/side_projects/${project.slug}`}
                  class="btn btn-primary border-none"
                  data-aos="fade-up"
                  data-aos-easing="ease-in-out"
                  data-aos-duration="1000"
                  data-aos-once="true"
                >
                  View Project
                </a>
              </div>
            </div>

            {
              project.data.heroImage ? (
                <Image
                  src={project.data.heroImage}
                  height={1000}
                  width={1000}
                  alt={title}
                  class="mx-auto inline h-[370px]  rounded-2xl object-cover"
                />
              ) : (
                <Image
                  src={defaultHeroImage}
                  height={1000}
                  width={1000}
                  alt={title}
                  class="mx-auto inline h-[370px] w-[800px] rounded-2xl object-cover"
                />
              )
            }
          </div>
        </div>

        <div class="mt-12 flex flex-wrap items-center justify-center gap-3">
          <a
            href={link.href}
            class="btn btn-outline-primary"
            href="#"
            data-aos="fade-up"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            {link.label}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
