---
import type { CollectionEntry } from "astro:content";
import SectionTitle from "../_shared/SectionTitle.astro";
import Image from "astro/components/Image.astro";
import defaultHeroImage from "@/assets/default_blog_hero_image.png";

interface Props {
  project: CollectionEntry<"side_projects">;
  data: {
    title: string;
    subtitle?: string;
    description: string;
    link: {
      label: string;
      href: string;
    };
  };
}

const {
  project,
  data: { title, subtitle, description, link },
} = Astro.props;
---

<section>
  <div class="container relative text-center">
    <div class="row justify-center">
      <div class="relative z-30 py-20">
        <SectionTitle
          data={{
            title,
            subtitle,
            description,
          }}
        />
        <div
          data-aos="fade-up"
          data-aos-easing="ease-in-out"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <a href={`/side_projects/${project.slug}`} title={project.data.title}>
            {
              project.data.heroImage ? (
                <Image
                  src={project.data.heroImage}
                  height={1000}
                  width={1000}
                  alt={title}
                  class="mx-auto inline h-[370px] w-[800px] rounded-2xl object-cover"
                />
              ) : (
                <Image
                  src={defaultHeroImage}
                  height={1000}
                  width={1000}
                  alt={title}
                  class="mx-auto inline h-[370px] w-[800px] rounded-2xl object-cover"
                />
              )
            }
          </a>
        </div>

        <div class="mt-12 flex flex-wrap items-center justify-center gap-3">
          <a
            href={`/side_projects/${project.slug}`}
            class="btn btn-primary"
            href="#"
            data-aos="fade-up"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            View Latest Project
          </a>
          <a
            href={link.href}
            class="btn btn-outline-primary"
            href="#"
            data-aos="fade-up"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            {link.label}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
