---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

// TODO: Extract this explicitly from `config.ts` somehow?
type SourceCollection = "blog" | "presentations" | "side_projects"
interface Props {
    header: String,
    source_collection: SourceCollection,
    filter?: CallableFunction
}

const { header, source_collection, filter } = Astro.props;
// This assumes that every collection kind has a `pubDate`, `slug`, and `title` field.
const posts = (await getCollection(source_collection)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse().slice(0, 5);

---
<section class="third">
    <h2>{header}</h2>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/${source_collection}/${post.slug}/`}>{post.data.title}</a> (<FormattedDate date={post.data.pubDate} />)
                </li>
            ))
        }
    </ul>

</section>
