---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/components/PageHeader.astro";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
// import defaultHeroImage from "../../src/assets/default_other_hero_image.png";

const collection = "side_projects";
// Replace `collection` underscores etc. with spaces and capitalize first letter of each word
const collectionTitle = collection
  .replace(/[_-]+/g, " ")
  .replace(/\b\w/g, (char) => char.toUpperCase());
const posts = (await getCollection(collection))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<Base title={`Šimon Podhajský's ${collectionTitle}`}>
  <PageHeader title={collectionTitle} />
  <section>
    <div class="container">
      <div class="row justify-center">
        {
          posts.map((post) => (
            <li>
              <a href={`/${collection}/${post.slug}/`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4 class="title">{post.data.title}</h4>
              </a>
            </li>
          ))
        }
      </div>
    </div>
  </section>
</Base>